{
    email chong.wang@me.com
}

http://h1bfriend.com, http://www.h1bfriend.com, http://h1bfriendly.com, http://www.h1bfriendly.com {
    redir https://h1bfinder.com{uri} permanent
}

h1bfinder.com, www.h1bfinder.com, http://localhost:3000, http://localhost, :3000 {
    encode zstd gzip

    log {
        output stdout
        format console
        level INFO
    }

    handle /api/* {
        reverse_proxy backend:8089
    }

    handle {
        reverse_proxy web:3000
    }
}
