h1bfinder.com, www.h1bfinder.com {
    redir https://h1bfinder.com{uri} permanent
}

h1bfinder.com, www.h1bfinder.com {
    redir https://h1bfinder.com{uri} permanent
}

h1bfinder.com, www.h1bfinder.com {
    encode zstd gzip

    handle /api/* {
        reverse_proxy backend:8089
    }

    handle {
        reverse_proxy web:3000
    }
}
